@charset "utf-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 카페24 다정해 폰트 */
@font-face {
    font-family: 'Cafe24Danjeonghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* 잘난체폰트 */
@font-face {
    font-family: 'YeogiOttaeJalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

html,
body {
    width: 100%;
    max-width: 100%;
}


html {
    font-size: 62.5%;
    /* 62.5% of 16px browser font size is 10px */
    /* 16px * 0.625 = 10px */
    /* 62.5% => 1rem === 10px */
    width: 100%;
    min-height: 100%;
}

body {
    /* 1.6 * 10px = 16px */
    width: 100%;
    min-height: 100%;
    margin: 0;
    font-family: 'Pretendard Variable', 'Pretendard', sans-serif;
    font-weight: 400;
    line-height: 1.285;
    font-size: 1.6rem;
    color: #000;
    overflow-x: clip;
    overflow-y: visible;
    word-break: keep-all;
    background-color: #080808;   /* 모바일 푸터 밑 밀림현상으로 추가 */
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}


.typo_h1 {
    font-family: 'Pretendard Variable';
    font-weight: 800;
    font-size: var(--fs_h1);
    line-height: var(--lh_h1)
}

.typo_h2 {
    font-family: 'Pretendard Variable';
    font-weight: 700;
    font-size: var(--fs_h2);
    line-height: var(--lh_h2);
}

.typo_h3 {
    font-family: 'Pretendard Variable';
    font-weight: 600;
    font-size: var(--fs_h3);
    line-height: var(--lh_h3);
}

.typo_body {
    font-family: 'Pretendard Variable', 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: var(--fs_body);
    line-height: var(--lh_body);
}

.typo_caption {
    font-family: 'Pretendard Variable', 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: var(--fs_caption);
    line-height: var(--lh_caption);
}

.typo_button {
    font-family: 'Pretendard Variable', 'Pretendard', sans-serif;
    font-weight: 600;
    font-size: var(--fs_button);
    line-height: var(--lh_caption);
}



/* Big Shoulders 폰트 */

.big-shoulders-500 {
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.big-shoulders-700 {
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.big-shoulders-900 {
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}