@charset "utf-8";


/* =========================
    Design System
========================= */
:root {
    --section-gap: 26.2rem;

    --color-primary: #FF6200;
    --color-black: #000;
    --color-white: #fff;
    --color-bg: #F8F8F8;
    --color-sub-bg: #F4F7FF;

    --font-main: 'Pretendard Variable', 'Pretendard', sans-serif;

    --fs_h1: 6.4rem;
    --lh_h1: 8.6rem;

    --fs_h2: 4rem;
    --lh_h2: 5.2rem;

    --fs_h3: 2.4rem;
    --lh_h3: 3.6rem;

    --fs_body: 1.8rem;
    --lh_body: 3.2rem;

    --fs_caption: 1.4rem;
    --lh_caption: 2.2rem;


    /* Figma grid */
    --grid-columns: 12;
    --grid-margin: 24rem;
    /* 240px */
    --grid-gap: 2.4rem;
    /* 24px */

    --inner-width: calc(100% - (var(--grid-margin) * 2));
}

/* =========================
    Layout
========================= */
#wrap {
    width: 100%;
    min-height: 100vh;
}

section {
    padding-top: var(--section-gap);
}

.header_inner,
.about_inner,
.business_inner,
.solutions_inner,
.reason_inner,
.process_inner,
.media_inner,
.contact_inner,
.footer_inner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.main_visual {
    padding-top: 0;
}



/* =========================
   Header
========================= */
#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 8rem;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    transform: translateY(0);
    transition:
        transform 0.55s cubic-bezier(0.22, 1, 0.36, 1),
        background 1s ease,
        backdrop-filter 1s ease;
    will-change: transform;
    backdrop-filter: blur(0);
}

#header.hide {
    transform: translateY(-110%);
}

#header.scrolled {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(20px);
}

.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 8rem;
}

.header_logo {
    display: block;
    width: 13rem;
    flex-shrink: 0;
}

.header_logo img {
    display: block;
    width: 100%;
}

.gnb {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

.gnb_list {
    display: flex;
    gap: 9rem;
    height: 100%;
}

.gnb_item {
    position: relative;
    min-width: 5rem;
    height: 12.8rem;
    text-align: center;
}

.gnb_link {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 8rem;
    font-family: "Big Shoulders", sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
    color: #fff;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.gnb_link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 1.8rem;
    width: 0;
    height: 2px;
    background: var(--color-primary);
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.gnb_item:hover .gnb_link,
.gnb_item.is_active .gnb_link {
    color: var(--color-primary);
}

.gnb_item:hover .gnb_link::after,
.gnb_item.is_active .gnb_link::after {
    width: 100%;
}

.gnb_depth {
    position: absolute;
    top: 8rem;
    left: 50%;
    width: 12rem;
    padding: 1.5rem 0;
    transform: translateX(-50%) translateY(1rem);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
}

.gnb_item:hover .gnb_depth {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(-50%) translateY(0);
}

.gnb_depth li+li {
    margin-top: 1.6rem;
}

.gnb_depth a {
    font-size: 1.6rem;
    line-height: 1.4;
    color: #fff;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.gnb_depth a:hover {
    color: var(--color-primary);
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
}

.family_site_wrap {
    position: relative;
}

.family_site {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 16rem;
    height: 4.5rem;
    padding: 0 2rem;
    border: 0;
    border-radius: 999px;
    background: #333;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.family_site span {
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
}

.family_site span::before,
.family_site span::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 1rem;
    height: 0.15rem;
    border-radius: 999px;
    background: #fff;
    transition: transform 0.3s ease;
}

.family_site span::before {
    left: 0;
    transform: rotate(45deg);
}

.family_site span::after {
    right: 0;
    transform: rotate(-45deg);
}

.family_site_wrap.is_open .family_site span::before {
    transform: rotate(-45deg);
}

.family_site_wrap.is_open .family_site span::after {
    transform: rotate(45deg);
}

.family_site_list {
    position: absolute;
    top: calc(100% + 1.6rem);
    right: 0;
    z-index: 20;
    width: 16rem;
    padding: 1rem 0;
    border-radius: 2rem;
    background: #333;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-0.8rem);
    transition: 0.3s ease;
}

.family_site_wrap.is_open .family_site_list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.family_site_list a {
    display: block;
    padding: 1.2rem 2rem;
    color: #fff;
    font-size: 1.5rem;
}

.family_site_list a:hover {
    color: #ff5a00;
    font-weight: 800;
}





.main_visual {
    position: relative;
    height: 200vh;
    /* 예시 */
    overflow: hidden;
}

.main_video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
}

.main_dim {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .4);
    z-index: 2;
}

.main_inner {
    position: relative;
    z-index: 3;
}

.main_copy {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.main_title {
    font-size: 6.4rem;
    line-height: 1.25;
    font-weight: 800;
}

.main_title span {
    color: #ff5a00;
}

.main_desc {
    margin-top: 2.4rem;
    color: rgba(255, 255, 255, 0.75);
}

.main_intro {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 22rem 12rem 0;
    color: #fff;
}

.main_panel_02 {
    position: relative;
    height: 100vh;
    padding: 0 12rem;
    color: #fff;
}

.main_intro_message {
    position: absolute;
    top: 9.5rem;
    right: 12rem;
    text-align: left;
    color: #fff;
    line-height: 1.8;
}



.main_intro_line_bottom {
    position: absolute;
    left: 50%;
    bottom: 25rem;
    width: 144rem;
    height: 1px;
    background: rgba(255, 255, 255, .45);
    transform: translateX(-50%);
}

.line_cross {
    position: absolute;
    top: 50%;
    width: 1px;
    height: 2.4rem;
    background: rgba(255, 255, 255, 0.75);
    transform: translateY(-50%);
}

.line_cross_left {
    left: 25rem;
}

.line_cross_right {
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 2.4rem;
    background: rgba(255, 255, 255, .75);
    transform: translate(50%, -50%);
}



.main_intro_label {
    position: absolute;
    top: 43.5rem;
    left: 8rem;
    font-size: 1.8rem;
    color: #fff;
}


.main_intro_text {
    position: absolute;
    top: 34rem;
    left: 29%;
}

.main_intro_title {
    font-size: 5.6rem;
    line-height: 1.28;
    font-weight: 700;
    letter-spacing: -0.045em;
}

.main_intro_title span {
    color: var(--color-primary);
}

.main_intro_title em {
    color: rgba(255, 255, 255, 0.25);
}

.main_intro_desc {
    position: absolute;
    bottom: 12rem;
    width: 54rem;
    font-size: 1.6rem;
    line-height: 2;
    color: rgba(255, 255, 255, 0.8);
}

.main_intro_desc_left {
    left: 50%;
    transform: translateX(-72rem);
}

.main_intro_desc_right {
    right: 50%;
    transform: translateX(72rem);
}

.main_intro_line {
    position: absolute;
    height: 1px;
    background: rgba(255, 255, 255, 0.45);
}

.main_intro_line_top {
    top: 22.5rem;
    left: 0;
    right: 0;
}


/* ===========================
    운영중인 서비스
=========================== */

.service_section {
    position: relative;
    overflow: hidden;
    background: #fff;
    padding: 0;
    height: 100vh;
    background: linear-gradient(#FEFEFE 0%, #D3D3D3 100%);
}

.service_horizontal {
    display: flex;
    align-items: center;
    width: max-content;
    height: 100vh;
    will-change: transform;
}

/* Intro */

.service_intro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72rem;
    height: 100vh;
    flex-shrink: 0;
}

.service_intro_inner {
    width: 36rem;
}

.service_title {
    margin-bottom: 4rem;
    color: #222;
}

.service_desc {
    line-height: 2;
    color: #666;
}

/* Card */

.service_panel {
    position: relative;
    width: 90rem;
    height: 100vh;
    padding: 14rem 4.8rem 8rem;
    border-left: 1px solid #e9e9e9;
    flex-shrink: 0;
}

.service_thumb {
    width: 100%;
    height: 54rem;
    border-radius: 1.2rem;
    overflow: hidden;
    background: #f8f8f8;
}

.service_thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service_info {
    position: absolute;
    left: 4.8rem;
    right: 4.8rem;
    bottom: 6rem;
    display: grid;
    grid-template-columns: 1fr 20rem;
    column-gap: 8rem;
    align-items: end;
}

.service_name {
    grid-column: 1 / 2;
    margin-bottom: 1.6rem;
    font-size: 4rem;
    line-height: 1.25;
    font-weight: 500;
    color: #333;
}



.service_text {
    min-height: 7.2rem;
    font-size: 1.8rem;
    line-height: 1.8;
    color: #434343;
}

.service_more {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: end;
    width: 100%;
    padding-bottom: 0.5rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #333;
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
}

.service_more span {
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
}

.service_more span::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 1.5rem;
    height: 1px;
    background: #333;
    transform: translateY(-50%);
}

.service_more span::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 0.8rem;
    height: 0.8rem;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    transform: translateY(-50%) rotate(45deg);
}


.curtain_section {
    position: relative;
    height: 50vh;
    padding: 0;
    overflow: hidden;
    background: #d3d3d3;
}

.curtain_section {
    position: relative;
    height: 55vh;
    padding: 0;
    overflow: visible;
}

.stripes_container {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 30;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

.stripe_item {
    flex: 1;
    width: 100%;
    transform: scaleY(0);
    transform-origin: center bottom;
    will-change: transform;
    margin-top: -1px;
    padding-bottom: 1px;
}

.stripe_item:first-child {
    margin-top: 0;
}


/* Service → Solution */

.curtain_gray {
    background: #d3d3d3;
}

.curtain_gray .stripe_item {
    background: #fff;
}


/* Solution → Performance */
.curtain_c3c3c3 {
    background: #000;
}

.curtain_c3c3c3 .stripe_item {
    background: #c3c3c3;
}


/* ===========================
    Our Solution
=========================== */

.solution_section {
    position: relative;
    height: 100vh;
    padding: 0;
    overflow: hidden;
    background: #fff;
}

.solution_inner {
    position: relative;
    width: 100%;
    height: 100vh;
}

.solution_center {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.solution_label {
    margin-bottom: 7rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: #111;
}

.solution_words {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solution_word {
    font-family: "Big Shoulders", sans-serif;
    font-size: 14rem;
    line-height: 0.85;
    font-weight: 900;
    letter-spacing: -0.04em;
    color: #3f3f3f;
    transition: color 0.25s ease;
}

.solution_word.is_active {
    color: var(--color-primary) !important;
}

.solution_desc {
    margin-top: 8rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: #111;
}


/* Orbit Card */

.solution_orbit {
    position: absolute;
    top: 0;
    z-index: 3;
    width: 50%;
    height: 100vh;
    pointer-events: none;
}

.solution_orbit_left {
    left: 0;
}

.solution_orbit_right {
    right: 0;
}

.solution_card {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;

    width: 50rem;
    min-height: 20rem;
    padding: 3.2rem 3.2rem 3.2rem 3.6rem;

    border-radius: 2.4rem;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0.4;
    color: #fff;

    transform: translate(-50%, -50%);
    will-change: transform, opacity;
}

.solution_card_text {
    flex: 1;
}

.solution_category {
    margin-bottom: 1.8rem;
    font-size: 1.3rem;
    color: #fff;
    font-weight: 300;
}

.solution_card h3 {
    margin-bottom: 3.6rem;
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: 500;
    color: #fff;
}

.solution_card_text p:last-child {
    font-size: 1.8rem;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 100;
}

.solution_card_img {
    width: 18rem;
    height: 26rem;
    border-radius: 1.6rem;
    overflow: hidden;
    flex-shrink: 0;
}

.solution_card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.solution_deco {
    position: absolute;
    inset: 0;
    z-index: 1;
    overflow: hidden;
    pointer-events: none;
}

.solution_deco_item {
    position: absolute;
    will-change: transform;
}

/* 아주 가까이 떠 있는 요소 */
.deco_near {
    width: 30rem;
    opacity: 1;
    filter: blur(0);
    z-index: 3;
}

/* 중간 거리 */
.deco_mid {
    width: 36rem;
    opacity: 0.6;
    filter: blur(1px);
    z-index: 2;
}

/* 멀리 있는 요소 */
.deco_far {
    width: 20rem;
    opacity: 0.4;
    filter: blur(2.5px);
    z-index: 1;
}

.deco_01 {
    top: 23%;
    left: 8%;
}

.deco_02 {
    bottom: 22%;
    left: 12%;
}

.deco_03 {
    top: 38%;
    right: 7%;
}







/* ===========================
    Business Performance
=========================== */

.performance_section {
    position: relative;
    height: 100vh;
    padding: 0;
    overflow: hidden;
    background: #C3C3C3;
}

.performance_inner {
    position: relative;
    width: 100%;
    height: 100vh;
}


/* Center Text */

.performance_center {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.performance_title {
    font-family: "Big Shoulders", sans-serif;
    font-size: 15rem;
    line-height: 0.86;
    font-weight: 900;
    letter-spacing: -0.04em;
    color: #000;
}

.performance_desc {
    margin-top: 7rem;
    font-size: 1.6rem;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.8);
}


/* Center Line */

.performance_line {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.12);
    transform: translateY(-50%);
}

.performance_cross {
    position: absolute;
    top: 50%;
    width: 1.8rem;
    height: 1.8rem;
    transform: translateY(-50%);
}

.performance_cross::before,
.performance_cross::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(0, 0, 0, 0.65);
    transform: translate(-50%, -50%);
}

.performance_cross::before {
    width: 1.8rem;
    height: 1px;
}

.performance_cross::after {
    width: 1px;
    height: 1.8rem;
}

.performance_cross_left {
    left: 24rem;
}

.performance_cross_right {
    right: 24rem;
}


/* Motion Path */

.performance_motion {
    position: absolute;
    inset: 0;
    z-index: 4;
    pointer-events: none;
}

.performance_path_area {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.performance_svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.performance_path {
    fill: none;
    /* stroke: #4D8EFF; */
    /* stroke: none; */
    stroke-width: 2;
    stroke-linecap: butt;

    transform: rotate(10deg) translateY(-10rem);
    transform-origin: center;
    transform-box: fill-box;

}


/* Cards */

.performance_card_list {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.performance_card {
    position: absolute;
    top: 0;
    left: 0;
    width: 38rem;
    height: 52rem;
    padding: 5.6rem 4.8rem;
    border-radius: 3.2rem;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    opacity: 0;
    transform: translate(-50%, -50%);
    will-change: transform, opacity, filter;
}

.performance_card_text {
    position: relative;
    z-index: 2;
}

.performance_number {
    position: relative;
    display: inline-flex;
    align-items: flex-end;
    /* 핵심 */
    margin-bottom: 9.6rem;

    font-family: 'Paperozi';
    font-size: 5.6rem;
    line-height: 0.9;
    font-weight: 600;
    letter-spacing: 0.0em;
    color: #fff;
}

.performance_number::before {
    content: "";
    position: absolute;
    left: -1.2rem;
    right: -2.8rem;
    top: 80%;
    z-index: -1;
    height: 4rem;
    background: var(--color-primary);
    transform: translateY(-50%);
}

.performance_number span {
    margin-left: 1.2rem;
    font-size: 2.6rem;
    line-height: 1;
    font-weight: 100;
    letter-spacing: -0.04em;
}

.performance_caption {
    font-size: 1.8rem;
    line-height: 1.7;
    font-weight: 300;
    letter-spacing: -0.04em;
    color: #fff;
}

.performance_img {
    position: absolute;
    right: 5rem;
    bottom: 8rem;
    width: 14rem;
}

.performance_img img {
    display: block;
    width: 100%;
    height: auto;
}







/* ===========================
    Keyword
=========================== */

.keyword_section {
    position: relative;
    height: 100vh;
    padding: 0;
    overflow: hidden;
    background: #111;
}

.keyword_inner {
    position: relative;
    width: 100%;
    height: 100vh;
}

.keyword_item {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
}

.keyword_item:first-child {
    opacity: 1;
    visibility: visible;
}

.keyword_pin {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    transform: none;
}

.keyword_title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 18rem;
    transform: translate(-50%, -50%);
}

.keyword_title span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 120rem;
    will-change: transform, clip-path;
    overflow: hidden;
}

.keyword_title img {
    display: block;
    width: 100%;
    height: auto;
    pointer-events: none;
}

/* 좌우 분리 */
.keyword_left {
    clip-path: inset(0 50% 0 0);
}

.keyword_right {
    clip-path: inset(0 0 0 50%);
}

/* 상하 분리 */
.keyword_top {
    clip-path: inset(0 0 50% 0);
}

.keyword_bottom {
    clip-path: inset(50% 0 0 0);
}

.keyword_desc {
    position: absolute;
    margin-top: 0;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);

    opacity: 0;
    will-change: clip-path, opacity;

    font-family: 'Paperozi';
    font-weight: 500;
    font-size: 6rem;
    line-height: 8.6rem;
}

.keyword_expertise {
    color: #FF6200;
}

.keyword_onestop {
    color: #009632;
}

.keyword_support {
    color: #FFA600;
}

.keyword_experience {
    color: #2ccdff;
}



/* ===========================
    Scatter Text
=========================== */

.scatter_section {
    position: relative;
    height: 250vh;
    padding-top: 0 !important;
    background: #fff;
    overflow: visible;
}

.scatter_inner {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.scatter_words {
    position: relative;
    width: 100%;
    height: 100vh;
}

.scatter_word {
    position: absolute;
    display: inline-block;

    font-family: "Big Shoulders", sans-serif;
    font-size: 6.4rem;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -0.04em;
    white-space: nowrap;

    will-change: transform, color;
}

/* 초기 흩어진 위치 */
.scatter_connecting {
    top: 12%;
    left: 13%;
    color: #999999;
}

.scatter_your {
    top: 4%;
    left: 50%;
    color: #8d8d8d;
}

.scatter_business {
    top: 16%;
    right: 5%;
    color: #828282;
}

.scatter_from {
    top: 42%;
    left: 0%;
    color: #777777;
}

.scatter_messaging {
    top: 54%;
    left: 31%;
    color: #666666;
}

.scatter_to {
    top: 42%;
    left: 61%;
    color: #555555;
}

.scatter_design {
    top: 44%;
    right: 7%;
    color: #444444;
}

.scatter_development {
    bottom: 18%;
    left: 7%;
    color: #333333;
}

.scatter_and {
    bottom: 18%;
    left: 57%;
    color: #2a2a2a;
}

.scatter_ai {
    bottom: 25%;
    right: 16%;
    color: #222222;
}






/* ===========================
   서비스가 만들어지는 과정
   =========================== */

.process_section {
    position: relative;
    background: #111111;
    height: 100vh;
    padding-top: 16rem;
}

.process_inner {
    max-width: 144rem;
    margin: 0 auto;
}

.process_head {
    text-align: center;
    padding-bottom: 8rem;
}

.process_title {
    color: #ffffff;
    margin-bottom: 1.6rem;
}

.process_desc {
    color: rgba(255, 255, 255, 1);
}


/* Timeline */


.process_timeline {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* 상단: 숫자 + 이름 */
.process_items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    order: 1;
}

.process_item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transform: translateY(5rem);
    transition: transform 0.4s ease;
}

/* 숫자 */
.process_num {
    display: block;
    height: 52px;
    font-size: 4rem;
    line-height: 52px;
    transform: scale(1);
    transform-origin: center bottom;
    color: #999999;
}

.process_item.is_active {
    transform: translateY(0);
}


/* 이름 */
.process_name {
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: -0.01em;
    white-space: nowrap;
    /* 하단 마진 = 라인까지 간격 */
    margin-bottom: 20px;
    transition: color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        font-weight 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* 캔버스: 가운데 */
#process_canvas {
    display: block;
    width: 100%;
    height: 120px;
    order: 2;
}

/* 하단: 설명 텍스트 리스트 (별도 row) */
.process_texts {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    order: 3;
}

.process_texts li {
    flex: 1;
    text-align: center;
    padding: 24px 16px 60px;
}

.process_text {
    margin: 0;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.2);
    font-weight: 400;
    transition: color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        font-weight 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* ===========================
   Active state
   =========================== */

.process_item.is_active .process_num {

    font-size: 4rem;
    transform: scale(1.8);
    color: #FF6200;
    margin-bottom: 4px;
}

.process_item.is_active .process_name {
    /* font-size: 15px; */
    font-weight: 700;
    color: #ffffff;
}

/* 설명 active — data-step 으로 연동 */
.process_texts li.is_active .process_text {
    color: rgba(255, 255, 255, 0.85);
    font-weight: 700;
}




/* ===========================
    Awards & Media
=========================== */

.news_section {
    position: relative;
    padding: 16rem 0;
    background: #fff;
}

.news_inner {
    width: 144rem;
    max-width: calc(100% - 16rem);
    margin: 0 auto;
}

.news_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6rem;
}

.news_title {
    font-size: 6.4rem;
    font-family: "Big Shoulders", sans-serif;
}

.news_more {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 4.8rem;
    padding: 0 2rem;
    background: none;
    color: #000;
    border: 1px solid #000;
    font-size: 1.6rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.news_more:hover {
    background: #000;
    border: 1px solid #000;
    color: #fff;
}

.news_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;
}

.news_item {
    display: flex;
    flex-direction: column;
    min-height: 56rem;
    background: #fff;
    overflow: hidden;
    transition: 0.35s ease;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.18);
}

.news_item:hover {
    transform: translateY(-0.8rem);
}

.news_content {
    display: flex;
    flex-direction: column;
    min-height: 28rem;
    padding: 4rem;
}

.news_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.news_category {
    font-size: 1.4rem;
    color: #111;
}

.news_arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.8rem;
    height: 4.8rem;
    background: var(--color-primary);
    color: #fff;
}

.news_subject {
    color: #222;
    line-height: 1.55;
}

.news_date {
    margin-top: auto;
    color: #777;
}

.news_thumb {
    height: 28rem;
    overflow: hidden;
}

.news_thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
}

.news_item:hover .news_thumb img {
    transform: scale(1.08);
}

.news_item:hover .news_arrow svg {
    transform: translateX(0.4rem);
}

.news_arrow svg {
    transition: 0.3s ease;
}



/* ===========================
    Our Partners
   =========================== */
.partner_section {
    padding: 26.2rem 0;
    overflow: hidden;
    background: #fff;
}

.partner_head {
    max-width: 140rem;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 12rem;
}

.partner_title {
    margin-bottom: 2rem;
    font-family: "Big Shoulders", sans-serif;
    font-weight: 500;
    font-size: 6.4rem;
    text-align: center;
}

.partner_marquee {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.partner_marquee+.partner_marquee {
    margin-top: 5.6rem;
}

/* 좌우 페이드 */
.partner_marquee::before,
.partner_marquee::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;
    width: 40rem;
    height: 100%;
    pointer-events: none;
}

.partner_marquee::before {
    left: 0;
    background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

.partner_marquee::after {
    right: 0;
    background: linear-gradient(to left, #fff 0%, rgba(255, 255, 255, 0) 100%);
}


.partner_group {
    display: flex;
    align-items: center;
    gap: 8rem;
    flex-shrink: 0;
    padding-right: 8rem;
    margin-bottom: 8rem;
}

.partner_group img {
    display: block;
    height: 3rem;
    width: auto;
    max-width: 16rem;
    object-fit: contain;
    flex-shrink: 0;
}

.partner_marquee_top .partner_track_l {
    animation: partner_marquee_left 35s linear infinite;
}



@keyframes partner_marquee_left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}


/* ===========================
    문의하기
   =========================== */

.contact_cta_section {
    position: relative;
    padding: 20rem 0;
    background: #F8F8F8;
}

.contact_cta_inner {
    width: 144rem;
    max-width: calc(100% - 16rem);
    margin: 0 auto;
    text-align: center;
}

.contact_cta_title {
    margin-bottom: 5rem;
    font-family: "Big Shoulders", sans-serif;
    font-size: 15rem;
    font-weight: 800;
    line-height: 0.9;
    letter-spacing: -0.04em;
    color: #111;
}

.contact_cta_desc {
    margin-bottom: 6rem;

    font-size: 2rem;
    font-weight: 400;
    line-height: 1.8;
    color: #666;
}

.contact_cta_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;

    min-width: 20rem;
    height: 6.4rem;

    padding: 0 4rem;

    background: var(--color-primary);
    color: #fff;
    font-family: 'Paperozi';
    font-size: 3rem;
    font-weight: 700;

    transition: all .35s ease;
}

.contact_cta_btn::after {
    content: "→";
    font-size: 2rem;
    transition: transform .35s ease;
}

.contact_cta_btn:hover {
    background: #111;
}

.contact_cta_btn:hover::after {
    transform: translateX(.6rem);
}


/* Form */




/* ===========================
    Footer
=========================== */

.footer {
    position: relative;
    padding: 8rem 0 5rem;
    background: #F8F8F8;
    color: #111;
}

.footer_inner {
    max-width: calc(100% - 16rem);
    margin: 0 auto;
}

.footer_top {
    display: grid;
    grid-template-columns: 28rem 28rem 1fr 22rem;
    gap: 5.6rem;
    align-items: center;
    padding-bottom: 6rem;
}

.footer_brand,
.footer_contact {
    min-height: 16rem;
    border-right: 1px solid #111;
}

.footer_logo img {
    width: 13rem;
}

.footer_sns {
    display: flex;
    gap: 2rem;
    margin-top: 5.6rem;
}

.footer_sns a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.6rem;
    height: 5.6rem;
    border: 1px solid #111;
    border-radius: 50%;
}

.footer_sns img {
    width: 2.8rem;
    height: 2.5rem;
}

.footer_title {
    margin-bottom: 2.4rem;
    font-size: 2rem;
    font-weight: 600;
}

.footer_contact_list li {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    font-size: 1.8rem;
}

.footer_contact_list li span:first-child {
    width: 2rem;
}

.footer_address {
    font-size: 1.8rem;
    line-height: 1.9;
}

.footer_download {
    display: flex;
    justify-content: flex-end;
}

.footer_download_btn {
    display: inline-flex;
    align-items: center;
    gap: 1.2rem;
    height: 5.2rem;
    padding: 0 2.8rem;
    border-radius: 999px;
    background: var(--color-primary);
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    border-top: 1px solid #111;
}

.footer_copy,
.footer_policy {
    font-size: 1.4rem;
}

.footer_policy {
    display: flex;
    gap: 1.6rem;
}













/* =========================
    Responsive
========================= */
@media (max-width: 1440px) {
    :root {
        --grid-margin: 8rem;
    }
}

@media (max-width: 1024px) {
    :root {
        --grid-margin: 4rem;
        --grid-gap: 2rem;
    }

    .section {
        padding: 9rem 0;
    }

    .sec-title {
        font-size: 4.4rem;
    }
}

@media (max-width: 768px) {
    :root {
        --grid-margin: 2rem;
        --grid-gap: 1.6rem;
    }

    .grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .section {
        padding: 7rem 0;
    }

    .sec-title {
        font-size: 3.2rem;
    }

    .sec-desc {
        font-size: 1.6rem;
    }
}